# MongoDB Atlas Database Connection URI
# Replace with your actual MongoDB Atlas cluster connection string.
# Make sure to set the correct username, password, and database name.
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/stellarstudy?retryWrites=true&w=majority
PORT=3000
